.mainContent{
    background-color: #e5ffff;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
}

.card{
    margin: 2rem;
    padding: 1rem;
    background-color: #b2ffff;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.card:hover{
    cursor: pointer;
    transform: scale(1.03);
}