.sideNav-container{
    margin: 0;
    display: flex;
    align-items: stretch;
    width: 10rem;
    z-index: 1;
    font-size: 1.1rem;
    font-weight: 500;
    -webkit-box-shadow: 3px 0px 10px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 10px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 10px -6px rgba(0,0,0,0.75);
}

.sideNav-p{
    padding: 1rem;
    padding-bottom: 0;
    margin-top: 0;
    color: rgb(51, 51, 51);
    line-height: 1rem;
    font-weight: 400;
}

.sideNav-ul{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #b2d8ff;
    justify-content: space-evenly;
}
.sideNav-ul li{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e7f3ff;
}
.sideNav-ul li a{
    color: #003366
    ;
}